<h1> Mongoose Celebrities! </h1>

<ul>
  {{#each celebs}}
    <li>
      <a href="celebrities?id={{this.id}}">
        {{this.name}} 
      </a>
      <form action="/celebrities/{{this.id}}/delete" method="POST" >
        <button>Delete this fucker</button>
      </form>
    </li>
  {{/each}}
</ul>