<h2> Welcome to the search results! </h2>

<ul>
  {{#each docs}}
  <li>
    <a href="/celebrities/detail?id={{this.id}}">
      {{this._doc.name}}
    </a>
    <form action="/celebrities/{{this.id}}/delete" method="POST">
      <button>Delete this fucker</button>
    </form>
    <form action="/celebrities/{{this.id}}/edit" method="GET">
      <button>Edit this fucker</button>
    </form>
  </li>
  {{/each}}
</ul>

