<h1> Mongoose Celebrities! </h1>

<a href="/celebrities">
  List all celebrities
</a>
<br />
<a href="celebrities/new">
  Create a new celebrity
</a>

<h1> Mongoose Movies! </h1>

<a href="/movies">
  List all movies
</a>
<br />
<a href="movies/new">
  Create a new movie
</a>