<h1> Welcome to the Cinema! </h1>

<h2> Mongoose Celebrities! </h2>
<a href="/celebrities">
  List all celebrities
</a>
<br />
<a href="celebrities/new">
  Create a new celebrity
</a>

<h2> Mongoose Movies! </h2>

<a href="/movies">
  List all movies
</a>
<br />
<a href="movies/new">
  Create a new movie
</a>